<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/183b2bab-fdd5-428a-b80a-79db487d5519/resourcegroups/CTSE_ML/providers/Microsoft.Web/sites/E-commercesystem20241008115625</ResourceId>
    <ResourceGroup>CTSE_ML</ResourceGroup>
    <ApiResourceId>/subscriptions/183b2bab-fdd5-428a-b80a-79db487d5519/resourceGroups/CTSE_ML/providers/Microsoft.ApiManagement/service/E-commercesystemapi/apis/E-commercesystem</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://e-commercesystem20241008115625.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>f1cf4e49-7374-4685-a76c-7da4a41d083a</ProjectGuid>
    <MSDeployServiceURL>e-commercesystem20241008115625.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>E-commercesystem20241008115625</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$E-commercesystem20241008115625</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>